/* body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
} */

.footer {
  position: fixed;
}

.card-link {
  margin-left: 0 !important;
}

@media screen and (max-width: 768px) {
  .search-title {
    font-size: xx-large !important;
    font-weight: 500 !important;
  }
}
